{% load static %}
<!DOCTYPE html>
<html>
{% load static %}

<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Gulbee Ledger</title>

<link rel="manifest" href="{% static 'manifest.json' %}">

<meta name="theme-color" content="#2563eb">

<link rel="icon"
      type="image/png"
      href="{% static 'icons/favicon-32.png' %}">

<meta name="mobile-web-app-capable" content="yes">

<meta name="apple-mobile-web-app-capable" content="yes">

<meta name="apple-mobile-web-app-status-bar-style"
      content="black-translucent">

<meta name="apple-mobile-web-app-title"
      content="Gulbee Ledger">

{% block head %}{% endblock %}

</head>

<body>

{% block content %}
{% endblock %}

<script>

if ('serviceWorker' in navigator) {
    window.addEventListener('load', () => {
        navigator.serviceWorker.register('/sw.js');
    });
}

</script>

{% block scripts %}
{% endblock %}

</body>
</html>