{% load static %}
<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">

<link rel="manifest" href="{% static 'manifest.json' %}">

<meta name="theme-color" content="#0b5ed7">

<link rel="icon" href="{% static 'icons/icon-192.png' %}">

{% block head %}{% endblock %}

</head>

<body>

{% block content %}
{% endblock %}

<script>

if ('serviceWorker' in navigator) {
    window.addEventListener('load', () => {
        navigator.serviceWorker.register('/sw.js');
    });
}

</script>

{% block scripts %}
{% endblock %}

</body>
</html>